/**
* Dark-DC-modified
* Original author: swaroop3108 (https://github.com/swaroop3108/)
* Modified by: synth (https://github.com/c-um/
* Modifications: Fixed import url, added nitro ad killer, removed gift/sticker button (ENGLISH ONLY)
**/

@import url('https://raw.githubusercontent.com/swaroop3108/dark-dc/master/source.css');

.theme-dark,
.theme-light,
:root {
  --background-primary: #151515;
  --background-secondary: #101010;
  --background-secondary-alt: #292929;
  --background-tertiary: #080808;
  --background-accent: #292929;
  --background-floating: #000000;
  --background-modifier-hover: rgba(255, 255, 255, 0.05);
  --background-modifier-active: rgba(255, 255, 255, 0.075);
  --background-modifier-selected: rgba(255, 255, 255, 0.04);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --channeltextarea-background: var(--background-accent);
  --deprecated-card-bg: rgba(0, 0, 0, 0.2);
  --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border-disabled: var(--background-tertiary);
  --activity-card-background: var(--background-primary);
  --channels-default: #9f9f9f;
  --text-muted: #b6b6b6;
  --text-normal: #fbfbfb;
  --interactive-normal: #c8c8c8;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #747474;
  --header-secondary: #c9c9c9;
  --toast-background: var(--background-primary);
  --toast-header: var(--background-tertiary);
  --toast-contents: var(--background-secondary);
  --toast-box-shadow: rgba(0, 0, 0, 0.2);
  --toast-border: var(--background-tertiary);
  --offline-color: rgb(60, 60, 60);
}

[class^="channel-"] > div > [href="/store"], /* Nitro Button above DM List */
[class^="channelTextArea"] [class^="buttons-"] > button, /* Gift Button */
[class^="upsellVisible-"], /* Banner Nitro Upsell Header in the user modal */
[class^="premiumIconWrapper"], /* Nitro Icon in top right on Banners */
[class^="characterCount-"] [class*="upsell-"], /* "Send longer Messages with Discord Nitro!" */
[class^="emojiSection-"] [class*="shinyButton-"], /* "Get Nitro" button in Emoji/Sticker modal" */
[class*="tryItOutSection-"], /*try nitro banner section on profile editor*/
[class^="premiumIcon"], /* Try remove booster badge */
[class^="customizationSection-"] + [class^="upsellContainer-"], /* Per server profile customizations*/
[class^="customizationSection-"][class*="disabled-"], /* Per server profile customizations*/
[class*="bannerNitroUpsell-"], /* "Unlock Banner" in profile editor*/
[class^="imageUploaderHint-"],
[class^="imagePickerContainer-"] > [class^="optionBox-"]:nth-child(2) /* Remove gif option from profile pic upload option*/
{
    display: none !important;
}

button[aria-label="Send a gift"] {
  display: none;
}
button[aria-label="Open sticker picker"] {
  display: none;
}
